.feedContainer
{
margin:5%;
background-color: transparent;
border:1px solid black;
border-radius: 15px;
}

.questionDiv {
    background-color: ghostwhite;
    margin-left:25%;
    margin:1%;
}

.imageQuestion {
    display: inline-block;
}

.questionDiv p {
    display: inline-block;
}

.askContainer
{
    margin-left: 30%;
    margin-top: 2%;
}

.askContainer input
{
    width:600px;
    height: 35px;
    margin-right: 2%;
    
}

.askContainer button {
width:50px;
height: 40px;
background-color: lightgray;
border: 1px solid black;
border-radius: 25%;
}

.askContainer button:hover {
  cursor: pointer;

    }

.questionDiv:hover{
        cursor:pointer;
    }

.statsDiv{
    margin-left: 1150px;
    display: inline-block; 
}