.Header {
    position: fixed;
    top: 0; /* Stick it to the top */
    max-height: 70px;
    width: 100vw;
  
    display: grid;
    grid-template-areas: "logo nav";
  
    /* Cosmetics */
    background-color: #5B84B1FF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .Logo {
    grid-area: logo;
    height: 70px;
    margin-left: 15%;
    width: 100px;
  }

  .Logo:hover{
    cursor: pointer;
  }
  
   .userLogo{
     border-radius: 50%;
     width: 50px;
     border: 3px solid black;
     max-height: 75%;
     }

     .userLogo:hover{
      cursor: pointer;
    }
    

  .Nav {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;
  }
  .Nav a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
    text-decoration: none;
  }
  .Nav a:hover {
    transform: scale(1.1);
  }
  .Nav button {
    padding: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    background-color: #FC766AFF;
    border-radius: 10px;
    cursor: pointer;
    transition: 70ms;
  }
  
  